<nav>
    <aside class="js-sidebar">
        <div class="js-sidebar--container">
            <div class="navSideTopDiv">
                {% if app.user %}
                    <div class="navProfile">
                        <img class="profilePicture" src="{{ asset(loggedUserProfilePicture) }}">
                        <p>{{ loggedUserUsername }}</p>
                    </div>
                {% endif %}
                <div class="navLinks">
                    <a href="/" title="home"><img class="svg" src="{{ asset('ressources/svg/navHome.svg') }}" alt="Home">{% trans %}home{% endtrans %}</a>
                    <a href="/profile/{{ loggedUserUsername }}" title="user profile"><img class="svg" src="{{ asset('ressources/svg/sidePanelUser.svg') }}" alt="User Profile">{% trans %}profile{% endtrans %}</a>
                    <a href="/settings" title="settings"><img class="svg" src="{{ asset('ressources/svg/navSettings.svg') }}" alt="settings">{% trans %}settings{% endtrans %}</a>
                    <a href="/newpost" title="new post"><img class="svg" src="{{ asset('ressources/svg/write.svg') }}" alt="Create a new post">{% trans %}newpost{% endtrans %}</a>
                    {% if app.user %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="/admin" title="Admin pannel"><img class="svg" src="{{ asset('ressources/svg/admin.svg') }}">{% trans %}admin{% endtrans %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="navSideBottomDiv">
                <div class="bottomLinks">
                    <a href="/terms">Terms of use</a>
                    <a href="/privacy">Privacy policy</a>
                </div>
                <div>
                    <button class="langBtn" id="langButton"><img class="svg" src="{{ asset('ressources/svg/language.svg') }}" alt="languages"></button>
                    <div class="langDiv hidden" id="langDiv">
                        <button onClick="setLocale('fr')">Français</button>
                        <button onClick="setLocale('en')">English</button>
                    </div>
                    {% if not app.user %}
                        <a href="/login"><img class="svg" src="{{ asset('ressources/svg/signInLogo.svg') }}" alt="sign in"></a>
                    {% endif %}

                    {% if app.user %}
                        <a href="/logout"><img class="svg" src="{{ asset('ressources/svg/signOutLogo.svg') }}" alt="sign in"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="js-sidebar--background"></div>
    </aside>
    <div class="topNav">
        <button class="js-sidebar--open"><img class="svg" src="{{ asset('ressources/svg/navSidePannelToggle.svg') }}" alt="Side pannel button"></button>
        <a href="/"><h1><img class="svg" src="{{ asset('ressources/svg/logo.svg') }}" alt="fursbook logo">ursbook</h1></a>
        <a href="/search"><img class="svg" src="{{ asset('ressources/svg/navSearchBarIcon.svg') }}" alt="search bar button"></a>
    </div>
    {% if app.user %}
        {% if not app.user.isVerified %}
            <div class="alertDiv">
                {% trans %}unverifiedMail{% endtrans %} <a href="/settings"><button>{% trans %}userVerify{% endtrans %}</button></a>
            </div>
        {% endif %}
    {% endif %}
</nav>