{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | {% trans %}profile{% endtrans %}
{% endblock %}

{% block body %}
<main class="userProfile">
    {% if isUserValid == true %}
    <div class="userProfileDiv {% if darkMode %}darkProfile{% endif %}" id="userProfile">
        <div class="banner">
            <img class="bannerImg" src="{{ asset(showedUser.profileBanner) }}">
            <img class="pfp"  src="{{ asset(showedUser.profilePicture) }}">
            <div class="dropdown">
                <input class="dropdown__check" type="checkbox" id="dropdown[1]">
                <label class="dropdown__toggle" for="dropdown[1]"><img class="svg" src="{{ asset('ressources/svg/ellipsis.svg') }}"></label>
                <ul class="dropdown__menu">
                    {% if app.user %}
                        {% if loggedUserUsername == showedUser.username %}
                            <li>
                                <a href="/settings">{% trans %}profileParameters{% endtrans %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <button onClick="openReportedUser({{showedUser.id}})">Report profile</button>
                        </li>
                        {% else %}
                        <li>
                            <p>{% trans %}profileNothingAvailable{% endtrans %}</p>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="infos">
            <p class="username">{{showedUser.username}}</p>
            <p class="bio">
                {% if showedUser.bio == "" %}
                    {% trans %}profileNoBio{% endtrans %}
                {% endif %}
                {% if not showedUser.bio == "" %}
                    {{ showedUser.bio|nl2br }}
                {% endif %}
        </p>
        </div>
    </div>
    <div class="postsDiv" id="postsDiv">
    {% for post in posts %}
        {% if post.nbPictures == 0 %}
            {% include "/fursbook/posts/postTextOnly.html.twig" %}
            {% elseif post.nbPictures == 1 %}
                {% include "/fursbook/posts/post1Image.html.twig" %}
            {% elseif post.nbPictures == 2 %}
                {% include "/fursbook/posts/post2Image.html.twig" %}
            {% elseif post.nbPictures == 3 %}
                {% include "/fursbook/posts/post3Image.html.twig" %}
            {% elseif post.nbPictures == 4 %}
                {% include "/fursbook/posts/post4Image.html.twig" %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="endScroll">
    </div>
    {% endif %}

    {% if isUserValid == false %}
    <div class="postsDiv">
        <p>{% trans %}profileNoUser{% endtrans %}</p>
    </div>
    {% endif %}
</main>
{% endblock %}

{% block javascripts %}
    <script src="/js/postMain.js" defer></script>
    <script src="/js/profile.js" defer></script>
{% endblock %}