{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Profile
{% endblock %}

{% block body %}
<main class="userProfile">
    {% if isUserValid == true %}
    <div class="userProfileDiv">
        <div class="banner">
            <img class="bannerImg" src="{{ asset(showedUserProfileBanner) }}">
            <img class="pfp"  src="{{ asset(showedUserProfilePicture) }}">
            <button class="more"><img class="svg" src="{{ asset('ressources/svg/ellipsis.svg') }}"></button>
        </div>
        <div class="infos">
            <p class="username">{{showedUserUsername}}</p>
            <p class="bio">
                {% if showedUserBio == "" %}
                    Cet utilisateur n'as pas de description, quelle personne mystérieuse :O
                {% endif %}
                {% if not showedUserBio == "" %}
                    {{ showedUserBio }}
                {% endif %}
        </p>
        </div>
    </div>
    <div class="postsDiv">
    {% for post in posts %}
        {% if post.nbPictures == 0 %}
            {% include "/fursbook/posts/postTextOnly.html.twig" %}
            {% elseif post.nbPictures == 1 %}
                {% include "/fursbook/posts/post1Image.html.twig" %}
            {% elseif post.nbPictures == 2 %}
                {% include "/fursbook/posts/post2Image.html.twig" %}
            {% elseif post.nbPictures == 3 %}
                {% include "/fursbook/posts/post3Image.html.twig" %}
            {% elseif post.nbPictures == 4 %}
                {% include "/fursbook/posts/post4Image.html.twig" %}
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}

    {% if isUserValid == false %}
    <div>
        <p>The user you requested does not exist</p>
    </div>
    {% endif %}
</main>
{% endblock %}