{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | {% trans %}settings{% endtrans %}
{% endblock %}

{% block body %}
    <main class="settings">
        <section class="profileSettings">
                <fieldset>
                    <legend>{% trans %}profileParameters{% endtrans %}</legend>
                    <p>{{ message }}</p>
                    {{ form_start(form) }}
                        {{ form_label(form.username, 'username') }}
                        {{ form_row(form.username, {label: false}) }}
                        {{ form_label(form.bio, 'description') }}
                        {{ form_row(form.bio,  {label: false, 'attr': {'class': 'textArea', 'maxlength': '180'}}) }}
                        {{ form_label(form.profilePicture, "profilePicture") }}
                        {{ form_row(form.profilePicture, {label: false, 'attr': {'accept': 'image/png, image/jpg, image/jpeg, images/gif', 'multiple': false}}) }}
                        {{ form_label(form.profileBanner, "profileBanner") }}
                        {{ form_row(form.profileBanner, {label: false, 'attr': {'accept': 'image/png, image/jpg, image/jpeg, images/gif', 'multiple': false}}) }}
                        <button type="submit" class="btn">{% trans %}save{% endtrans %}</button>
                        {{ form_end(form) }}
                </fieldset>
        </section>
    </main>
{% endblock %}