<div>
    <button onClick="editPostReport('{{ mainReport.post }}')">refresh</button>
    {{ dump(mainReport) }}
    {{ dump(report) }}

    <p>Report target: <a href="/profile/{{ mainReport.targetUsername }}">{{ mainReport.targetUsername }}</a></p>
    <p>Concerned post:</p>
    {% if post.nbPictures == 0 %}
        {% include "/fursbook/posts/postTextOnly.html.twig" %}
        {% elseif post.nbPictures == 1 %}
            {% include "/fursbook/posts/post1Image.html.twig" %}
        {% elseif post.nbPictures == 2 %}
            {% include "/fursbook/posts/post2Image.html.twig" %}
        {% elseif post.nbPictures == 3 %}
            {% include "/fursbook/posts/post3Image.html.twig" %}
        {% elseif post.nbPictures == 4 %}
            {% include "/fursbook/posts/post4Image.html.twig" %}
    {% endif %}
</div>