{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Admin pannel
{% endblock %}

{% block body %}
    <main class="adminHome">
        <div class="admNav">
            <button class="accordion">Users</button>
            <div class="panel">
                <button class="navButton" onClick="selectPannel('userList')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Users list</button>
                <button class="navButton" onClick="selectPannel('usersReported')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Reported profiles</button>
                <button class="navButton" onClick="selectPannel('createUser')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Create profile</button>
            </div>
            <button class="accordion">Posts</button>
            <div class="panel">
                <button class="navButton" onClick="selectPannel('postsList')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Posts list</button>
                <button class="navButton" onClick="selectPannel('postsReported')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Reported posts</button>
            </div>
            <button class="accordion">Newslester</button>
            <div class="panel">
                <button class="navButton" onClick="selectPannel('newNews')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> New Newsletter</button>
                <button class="navButton" onClick="selectPannel('newsList')"><img class="svg" src="{{ asset('ressources/svg/catLink.svg') }}" alt=""> Newsletter list</button>
            </div>
        </div>
        <div class="content" id="mainContent">
        </div>
    </main>
    <div class="modif hidden" id="modif">
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/trix.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="/js/trix.js" defer></script>
    <script src="/js/admin.js" defer></script>
{% endblock %}