{% extends 'base.html.twig' %}

{% block title %}Fursbook | Register{% endblock %}

{% block body %}
    <main class="loginPage">
        <div>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    label: 'Username',
                    'attr': {'pattern': "^[a-zA-Z0-9](_(?!(\.|_))|\.(?!(_|\.))|[a-zA-Z0-9]){2,21}[a-zA-Z0-9]$"}
                }) }}

                {{ form_row(registrationForm.email, {
                    label: 'Email',
                    'attr': {'pattern': "(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"}
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}


                {{ form_row(registrationForm.CGU, {
                    label: 'I have read the <a href="/terms">Therms and condition</a> and <a href="/privacy">Privacy policy</a>',
                    'required': true,
                    'label_html': true,
                    'attr': {'class': 'checkbox'}
                }) }}

                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
