<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Your favorite furry social website, get in contact wit hthe furry community and discover the amazing art !" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="furry, social media, social, fursbook, furbook, art, refsheet, fur, commission" />
        <link rel="shortcut icon" href="{{ asset('ressources/favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="canonical" href="https://fursbook.org/" />
        <script src="{{ asset('js/main.js') }}" defer></script>
        <script src="{{ asset('js/sidebar.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="infoDiv infoDivHidden" id="siteInfoDiv">
            <p>this is an exemple text</p>
        </div>
        {% include "fursbook/nav.html.twig" %}
        {% block body %}{% endblock %}
        <div class="alphaWarning">
            <p>{% trans %}alpha1{% endtrans %}</p>
            <p>{% trans %}alpha2{% endtrans %}</p>
            <p>{% trans %}alpha3{% endtrans %}</p>
        </div>
        <div class="hidder hidden" id="modalBackground">
        </div>
        <div class="modal hidden" id="modalDiv">
            <div class="top">
                <button onClick="closeModal()"><img class="svg" src="{{ asset('ressources/svg/xMark.svg') }}" alt="comments"></button>
            </div>
            <div class="content" id="modalContent">
            </div>
        </div>
        <input id="accessiblityTriggerButton" class="accessiblityTriggerButton" type="checkbox">
        <label for="accessiblityTriggerButton"></label>
        <div class="accessMenu accessiblityOne" onClick="swapFont()"><p>Special font</p></div>
        <div class="accessMenu accessiblityTwo" onClick="changeContrast()"><p>High contrast</p></div>
        <div class="accessMenu accessiblityThree"><button onClick="changeFontSize(-1)">A-</button><button onClick="changeFontSize(0)">A</button><button onClick="changeFontSize(1)">A+</button></div>
    </body>
</html>
