<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Your favorite furry social website, get in contact wit hthe furry community and discover the amazing art !" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="furry, social media, social, fursbook, furbook, art, refsheet, fur, commission" />
        <link rel="shortcut icon" href="{{ asset('ressources/favicon.ico') }}" type="image/x-icon" />
        <link rel="canonical" href="https://fursbook.org/" />
        <script src="{{ asset('js/main.js') }}" defer></script>
        <script src="{{ asset('js/sidebar.js') }}"></script>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="infoDiv infoDivHidden" id="siteInfoDiv">
            <p>this is an exemple text</p>
        </div>
        {% include "fursbook/nav.html.twig" %}
        {% block body %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </body>
</html>
