<article class="posts">
    <div class="userDiv">
        <div>
            <img src="{{ asset(post.ownerProfilePicture) }}">
            <a href="/profile/{{ post.ownerUsername }}">{{ post.ownerUsername }}</a>
        </div>
        <span>{{ post.date }}</span>
    </div>
    <div class="contentdiv">
        <div class="top">
            <div class="dropdown">
                <button onMouseDown="dropDownToggle({{post.postId}})"><img class="svg" id="ddButton{{post.postId}}" src="{{ asset('ressources/svg/ellipsis.svg') }}"></button>
                <ul class="menu hidden" id="ddMenu{{post.postId}}">
                    {% if app.user %}
                        {% if loggedUserUsername == post.ownerUsername %}
                            <li>
                                <a href="/settings">{% trans %}profileParameters{% endtrans %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <button onClick="openReportedPost({{post.postId}})">Report posts</button>
                        </li>
                        {% else %}
                        <li>
                            <p>{% trans %}postNothingAvailable{% endtrans %}</p>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="middle">
            {% block content %}
            {% endblock %}
        </div>
        <div class="bottom">
            <button class="commentBtn"><div><img class="svg" src="{{ asset('ressources/svg/comment.svg') }}" alt="comments"><p>0</p></div></button>
            <button class="likeBtn" onMouseDown="likeButton({{post.postId}})"><div><img class="svg {% if post.isLiked %} liked {% endif %}" id="{{post.postId}}" src="{{asset('ressources/svg/like.svg')}}" alt="likes"><p id="like{{post.postId}}">{{post.nbLikes}}</p></div></button>
        </div>
    </div>
</article>